<template>
  <div class="button" :class="{pressed}" @mousedown="mousedown" @click="emitClick" :style="cssVars">
    {{text}}
  </div>
</template>

<script>
"use strict";

import sounds from "@/sounds.js";

export default {
  name: "CustomButton",
  props: {
    text: String,
    width: String,
    onclick: Function
  },
  data() {
    return {
      pressed: false
    };
  },
  computed: {
    cssVars() {
      return {
        width: this.width || "auto"
      };
    },
  },
  methods: {
    mousedown() {
      this.pressed = true;
    },
    mouseup() {
      this.pressed = false;
    },
    emitClick() {
      sounds.click.play();
      if (typeof this.onclick === "function") this.onclick();
      this.$emit("click");
    }
  },
  mounted() {
    window.addEventListener("mouseup", this.mouseup);
  },
  destroyed() {
    window.removeEventListener("mouseup", this.mouseup);
  }
}
</script>

<style scoped lang="scss">
@import "@/scss/vars.scss";

.button {
  display: inline-block;
  padding: 10px;
  border-color: #0f0;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  background: #000;
  color: #0f0;
  font-size: 24px;
  cursor: pointer;
}

.button.pressed {
  background: #0f0;
  color: #000;
  border-color: #070;
}
</style>
