<template>
  <div class="message">
    <VueTyper v-if="message.speaker" class="speaker" :text="formattedSpeaker" :repeat="0" caretAnimation="solid" :style="cssVars" :pre-type-delay="preTypeDelay" :type-delay="30" @typed="speakerFinishedTyping"/>
    <VueTyper v-if="message.text && (!message.speaker || speakerDone)" class="text" :class="{last, italic: message.italicText, bold: message.boldText}" :text="message.speaker ? `: ${formattedText}` : formattedText" :repeat="0" :type-delay="30" :caretAnimation="this.textDone ? 'blink' : 'solid'" :pre-type-delay="70" :style="cssVars" @typed="textFinishedTyping"/>
  </div>
</template>

<script>
"use strict";

import {VueTyper} from "vue-typer";

export default {
  name: "Message",
  props: {
    message: Object,
    last: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      speakerDone: false,
      textDone: false
    };
  },
  components: {
    VueTyper
  },
  mounted() {
    if (!this.message.speaker && !this.message.text) {
      this.textFinishedTyping();
    }
  },
  computed: {
    cssVars() {
      return {
        "--fontSize": this.message.fontSize || "24px"
      };
    },
    preTypeDelay() {
      if (typeof this.message.preTypeDelay !== "number") {
        return 300;
      }
      return this.message.preTypeDelay;
    },
    formattedSpeaker() {
      return this.message.speaker?.replace(/\{\{PLAYER_NAME\}\}/g, this.$store.state.playerName).replace(/\{\{BLOB_NAME\}\}/g, this.$store.state.blobName);
    },
    formattedText() {
      return this.message.text?.replace(/\{\{PLAYER_NAME\}\}/g, this.$store.state.playerName).replace(/\{\{BLOB_NAME\}\}/g, this.$store.state.blobName);
    }
  },
  methods: {
    speakerFinishedTyping() {
      this.speakerDone = true;
      if (!this.message.text) {
        this.textFinishedTyping();
      }
    },
    textFinishedTyping() {
      this.textDone = true;
      this.emitFinished();
    },
    emitFinished() {
      this.$emit("finished");
    }
  }
}
</script>

<style lang="scss">
@import "@/scss/vars.scss";

.vue-typer {
  height: var(--fontSize);
  font-size: var(--fontSize);
  .custom.char {
    color: $textColor;
  }
  .custom.caret {
    background-color: $textColor;
  }
}

.last.text.vue-typer .custom.caret {
  display: inline-block;
}

.speaker.vue-typer {
  .custom.char {
    color: $speakerTextColor;
    background: $speakerBackgroundColor;
  }
  .custom.caret {
    background-color: $speakerBackgroundColor;
  }
}
</style>

<style scoped lang="scss">
@import "@/scss/vars.scss";

.message {
  text-align: left;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}
</style>
