<template>
  <div class="messageGroup">
    <div v-for="message of messages" :key="`${node.name} ${message.index}`">
      <Message v-if="messagesFinished >= message.index" :message="message" :last="(clickEveryMessage) ? (message.index === messagesFinished) : (message.index === messages.length - 1)" @finished="incrementMessagesFinished"/>
    </div>
  </div>
</template>

<script>
"use strict";

import Message from "@/components/Message.vue";

import sounds from "@/sounds.js";

export default {
  name: "MessageGroup",
  components: {
    Message
  },
  props: {
    node: Object
  },
  data() {
    return {
      messagesFinished: 0,
      waitingForClick: false
    };
  },
  watch: {
    node: {
      immediate: true,
      handler() {
        this.messagesFinished = 0;
      }
    }
  },
  computed: {
    messages() {
      return this.node.messages.map((msg, index) => ({...msg, index}));
    },
    clickEveryMessage() {
      return this.node.clickEveryMessage ?? true;
    }
  },
  methods: {
    incrementMessagesFinished() {
      if (this.messagesFinished + 1 >= this.node.messages.length) {
        this.$emit("finished");
      } else {
        if (this.node.clickEveryMessage ?? true) {
          if (this.messages[this.messagesFinished + 1].continuation) {
            this.messagesFinished++;
          } else {
            this.waitingForClick = true;
            this.$emit("setWaitingForClick", true);
          }
        } else {
          this.messagesFinished++;
        }
      }
    },
    clicked() {
      if (this.waitingForClick) {
        this.waitingForClick = false;
        this.$emit("setWaitingForClick", false);
        this.messagesFinished++;
        sounds.click.play();
      }
    }
  },
  mounted() {
    window.addEventListener("click", this.clicked);
  },
  destroyed() {
    window.removeEventListener("click", this.clicked);
  }
}
</script>

<style scoped lang="scss">
@import "@/scss/vars.scss";

.messageGroup {
  padding: 25px 25px;
}
</style>
