<template>
  <div ref="nodeDisplay" class="nodeDisplay" :class="{...fullExitAnimationClasses}" @click="anywhereClicked">
    <div class="nodeDisplayInner">
      <div class="messageGroupOuterContainer" :class="{...messageGroupOuterContainerClasses}">
        <div class="messageGroupContainer" :class="{...messageGroupContainerClasses}">
          <MessageGroup ref="messageGroup" class="messageGroup" :class="{...exitAnimationClasses}" :node="node" @finished="messagesFinished" @setWaitingForClick="setWaitingForClick"/>
        </div>
        <div ref="clickAnywhereMessage" class="clickAnywhereMessage" :class="{...exitAnimationClasses}" v-visibility="((node.nextNode && !node.noInteractionExit && finished) || waitingForClick) && !exiting">
          {{
            node.nextNode && !node.noInteractionExit && finished ?
            "&lt;Click anywhere to continue&gt;" :
            "&lt;Click anywhere&gt;"
          }}
        </div>
      </div>
      <div ref="textInputs" class="textInputs" :class="{...exitAnimationClasses}" v-if="finished && Array.isArray(node.textInputs) && node.textInputs.length > 0">
        <span v-for="textInput of node.textInputs" :key="textInput.label">
          <TextInput class="textInput" :textInput="textInput"/>
        </span>
      </div>
      <div ref="choices" class="choices" :class="{...exitAnimationClasses}" v-if="finished && Array.isArray(node.choices) && node.choices.length > 0">
        <span v-for="choice of node.choices" :key="choice.text">
          <CustomButton class="button" :text="choice.text" :width="choice.width" :onclick="choice.onclick" @click="choice.linkedNode && goToChosenNode(choice.linkedNode)"/>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
"use strict";

import CustomButton from "@/components/CustomButton.vue";
import MessageGroup from "@/components/MessageGroup.vue";
import TextInput from "@/components/TextInput.vue";

import {goToNode} from "@/nodes.js";
import sounds from "@/sounds.js";

export default {
  name: "NodeDisplay",
  components: {
    CustomButton,
    MessageGroup,
    TextInput
  },
  props: {
    node: Object
  },
  data() {
    return {
      finished: false,
      exiting: false,
      stopMessageGroupAnimations: false,
      stopMessageGroupAnimationsTimeout: null,
      backgroundSound: null,
      waitingForClick: false,
      nodeChosen: false
    };
  },
  watch: {
    node: {
      immediate: true,
      handler(newValue, oldValue) {
        this.finished = false;
        this.exiting = false;
        this.stopMessageGroupAnimations = false;
        this.nodeChosen = false;
        if (oldValue) {
          if (typeof oldValue.afterExit === "function") oldValue.afterExit();
        }
        if (typeof newValue.onload === "function") newValue.onload();
        if (newValue.backgroundSound && newValue.backgroundSound.play) {
          this.backgroundSound = newValue.backgroundSound.play();
        }
      }
    }
  },
  computed: {
    exitAnimationClasses() {
      if (!this.exiting) return {};
      let classesObject = {};
      if (this.node.exitAnimationClass) {
        classesObject[this.node.exitAnimationClass] = true;
      }
      return classesObject;
    },
    fullExitAnimationClasses() {
      if (!this.exiting) return {};
      let classesObject = {};
      if (this.node.fullExitAnimationClass) {
        classesObject[this.node.fullExitAnimationClass] = true;
      }
      return classesObject;
    },
    messageGroupOuterContainerClasses() {
      let classesObject = {};
      if (this.stopMessageGroupAnimations) return classesObject;
      if (this.node.messageGroupOuterContainerClass) {
        classesObject[this.node.messageGroupOuterContainerClass] = true;
      }
      return classesObject;
    },
    messageGroupContainerClasses() {
      let classesObject = {};
      if (this.stopMessageGroupAnimations) return classesObject;
      if (this.node.messageGroupContainerClass) {
        classesObject[this.node.messageGroupContainerClass] = true;
      }
      return classesObject;
    }
  },
  methods: {
    messagesFinished() {
      this.finished = true;
      if (this.node.noInteractionExit && this.node.nextNode) {
        this.goToNextNode();
      }
    },
    anywhereClicked() {
      if (!this.finished) return;
      if (this.node.nextNode) {
        sounds.click.play();
        this.goToNextNode();
      }
    },
    async processExitAnimation() {
      if (this.node.exitAnimationClass) {
        if (!this.exiting) {
          if (typeof this.node.removeMessageGroupAnimationOnExitDelay === "number") {
            this.stopMessageGroupAnimationsTimeout = window.setTimeout(() => {
              this.stopMessageGroupAnimations = true;
            }, this.node.removeMessageGroupAnimationOnExitDelay);
          }
          this.exiting = true;
        }
        return new Promise(resolve => {
          let promises = [];
          promises.push(new Promise(done => {
            this.$refs.messageGroup.$el.addEventListener("animationend", e => {
              if (e.animationName === `${this.node.exitAnimationClass}-${this.$options._scopeId}`) {
                done();
              }
            }, {
              once: true
            });
          }));
          if (Array.isArray(this.node.textInputs) && this.node.textInputs.length > 0) {
            promises.push(new Promise(done => {
              this.$refs.textInputs.addEventListener("animationend", e => {
                if (e.animationName === `${this.node.exitAnimationClass}-${this.$options._scopeId}`) {
                  done();
                }
              }, {
                once: true
              });
            }));
          }
          if (Array.isArray(this.node.choices) && this.node.choices.length > 0) {
            promises.push(new Promise(done => {
              this.$refs.choices.addEventListener("animationend", e => {
                if (e.animationName === `${this.node.exitAnimationClass}-${this.$options._scopeId}`) {
                  done();
                }
              }, {
                once: true
              });
            }));
          }
          Promise.all(promises).then(resolve);
          window.setTimeout(resolve, 10000);
        });
      }
    },
    async processFullExitAnimation() {
      if (this.node.fullExitAnimationClass) {
        if (!this.exiting) {
          if (typeof this.node.removeMessageGroupAnimationOnExitDelay === "number") {
            this.stopMessageGroupAnimationsTimeout = window.setTimeout(() => {
              this.stopMessageGroupAnimations = true;
            }, this.node.removeMessageGroupAnimationOnExitDelay);
          }
          this.exiting = true;
        }
        return new Promise(resolve => {
          const listener = e => {
            if (e.target !== this.$refs.nodeDisplay) return;
            if (e.animationName === `${this.node.fullExitAnimationClass}-${this.$options._scopeId}`) {
              this.$refs.nodeDisplay.removeEventListener("animationend", listener);
              resolve();
            }
          };
          this.$refs.nodeDisplay.addEventListener("animationend", listener);
          window.setTimeout(resolve, 10000);
        });
      }
    },
    async processEndOfNodeDelay() {
      if (typeof this.node.endOfNodeDelay === "number") {
        return new Promise(resolve => {
          window.setTimeout(resolve, this.node.endOfNodeDelay);
        });
      }
    },
    async goToNextNode() {
      const node = this.node;
      const stopMessageGroupAnimationsTimeout = this.stopMessageGroupAnimationsTimeout;
      if (this.nodeChosen) return;
      await this.processEndOfNodeDelay();
      if (this.backgroundSound) {
        this.node.backgroundSound?.fade(1, 0, 1000, this.backgroundSound);
      }
      if (this.node.exitSound) {
        this.node.exitSound.play();
      }
      await Promise.all([
        this.processExitAnimation(),
        this.processFullExitAnimation()
      ]);
      window.clearTimeout(stopMessageGroupAnimationsTimeout);
      if (!this.nodeChosen && this.node === node) goToNode(this.node.nextNode);
    },
    async goToChosenNode(nodeName) {
      if (this.nodeChosen) return;
      this.nodeChosen = true;
      if (this.backgroundSound) {
        this.node.backgroundSound?.fade(1, 0, 1000, this.backgroundSound);
      }
      if (this.node.exitSound) {
        this.node.exitSound.play();
      }
      await Promise.all([
        this.processExitAnimation(),
        this.processFullExitAnimation()
      ]);
      window.clearTimeout(this.stopMessageGroupAnimationsTimeout);
      goToNode(nodeName);
    },
    setWaitingForClick(state) {
      this.waitingForClick = state;
      if (state === true) {
        const el = this.$refs.clickAnywhereMessage;
        el.style.animation = "none";
        el.offsetHeight; // Force reflow
        el.style.animation = null;
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/scss/vars.scss";
@import "@/scss/exitAnimations.scss";
@import "@/scss/messageGroupContainerAnimations.scss";

.nodeDisplay, .nodeDisplayInner {
  display: inline-block;
}

.messageGroupContainer {
  position: relative;
  display: block;
  font-size: 24px;
  height: calc(24 * 24px);
  width: calc(120ch + 2px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  border-color: $messageGroupBorderColor;
  border-width: $messageGroupBorderWidth;
  border-radius: $messageGroupBorderRadius;
  border-style: solid;
}

.messageGroup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.25;
  }
}

.clickAnywhereMessage {
  margin-top: 16px;
  font-size: 24px;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.25;
}

.textInputs, .choices {
  margin-top: 25px;
}

.textInput, .button {
  margin-left: 40px;
  margin-right: 40px;
}
</style>
