<template>
  <div class="textInput">
    <label>
      {{textInput.label || "Enter Text:"}}
      <input class="input" type="text" v-model.trim="input" :placeholder="textInput.placeholder || 'Enter text...'">
    </label>
    <CustomButton class="button" :text="textInput.submitButtonText || 'Submit'" @click="emitSubmitted"/>
  </div>
</template>

<script>
"use strict";

import CustomButton from "@/components/CustomButton.vue";

export default {
  name: "TextInput",
  components: {
    CustomButton
  },
  props: {
    textInput: Object
  },
  data() {
    return {
      input: ""
    };
  },
  methods: {
    emitSubmitted() {
      if (this.input.length === 0) return;
      if (typeof this.textInput.onsubmit === "function") {
        this.textInput.onsubmit(this.input);
      }
      this.$emit("submit", this.input);
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/scss/vars.scss";

label {
  font-size: 24px;
}

.input {
  border-color: #0f0;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  width: 20ch;
  height: 24px;
  padding: 10px;
  background: #000;
  color: #0f0;
  font-family: Inconsolata, Monaco, Consolas, monospace;
  font-size: 24px;

  &::placeholder {
    color: #070;
  }
  &:focus {
    outline: none;
  }
}

.button {
  margin-left: 30px;
}
</style>
