<template>
  <div id="app">
    <NodeDisplay class="nodeDisplay" :node="currentNode"/>
  </div>
</template>

<script>
"use strict";

import NodeDisplay from "@/components/NodeDisplay.vue";

import {getNode} from "@/nodes.js";

export default {
  name: "App",
  components: {
    NodeDisplay
  },
  computed: {
    currentNode() {
      return getNode(this.$store.state.currentNode);
    }
  }
}
</script>

<style lang="scss">
@import "@/scss/vars.scss";

@font-face {
  font-family: Inconsolata;
  src: url(~@/assets/Inconsolata/Inconsolata-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inconsolata;
  src: url(~@/assets/Inconsolata/Inconsolata-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

html, body, #app {
  margin: 0;
  width: 100%;
  height: 100%;
  background: $backgroundColor;
  user-select: none;
}

body {
  overflow: visible;
}

#app {
  font-family: Inconsolata, Monaco, Consolas, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $textColor;
  background: $backgroundColor;
}

.nodeDisplay {
  width: 100%;
  height: 100%;
}
</style>
