// Linear Fade Outs

@keyframes fadeOut-1s {
  to {
    opacity: 0;
  }
}
.fadeOut-1s {
  animation-name: fadeOut-1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut-2_5s {
  to {
    opacity: 0;
  }
}
.fadeOut-2_5s {
  animation-name: fadeOut-2_5s;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

// White Fade Outs

@keyframes full-whiteFadeOut-5s {
  65% {
    background: #fff;
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes full-inner-fadeOutIn {
  40% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.full-whiteFadeOut-5s {
  animation-name: full-whiteFadeOut-5s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  & > .nodeDisplayInner {
    animation-name: full-inner-fadeOutIn;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
}
