// Blurred Beat

@keyframes blurredBeat {
  0%, 78%, 100% {
    transform: scale(1);
    box-shadow: none;
    text-shadow: none;
  }
  80%, 98% {
    transform: scale(1.05);
    box-shadow: 0 0 15px 10px #0f0, inset 0 0 15px 10px #0f0;
    text-shadow: 0 0 20px green, 0 0 24px #0f0, 0 0 24px #0f0;
  }
}
.blurredBeat-1_5s {
  animation-name: blurredBeat;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes blurredBeatFlash {
  0%, 78%, 100% {
    transform: scale(1);
    box-shadow: none;
    text-shadow: none;
    background: transparent;
  }
  80%, 98% {
    transform: scale(1.05);
    box-shadow: 0 0 15px 10px #0f0, inset 0 0 15px 10px #0f0;
    text-shadow: 0 0 20px green, 0 0 24px #0f0, 0 0 24px #0f0;
    background: rgba(0, 255, 0, 0.3);
  }
}
.blurredBeatFlash-1_5s {
  animation-name: blurredBeatFlash;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

// Quake

@keyframes quake {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5px, 3px);
  }
  20% {
    transform: translate(-3px, -3px);
  }
  30% {
    transform: translate(2px, 4px);
  }
  40% {
    transform: translate(-2px, 1px);
  }
  50% {
    transform: translate(4px, -2px);
  }
  60% {
    transform: translate(1px, 4px);
  }
  70% {
    transform: translate(-3px, 1px);
  }
  80% {
    transform: translate(-2px, -3px);
  }
  90% {
    transform: translate(1px, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.quake-1s {
  animation-name: quake;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes heavyQuake {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-10px, 6px);
  }
  20% {
    transform: translate(-6px, -6px);
  }
  30% {
    transform: translate(4px, 8px);
  }
  40% {
    transform: translate(-4px, 2px);
  }
  50% {
    transform: translate(8px, -4px);
  }
  60% {
    transform: translate(2px, 8px);
  }
  70% {
    transform: translate(-6px, 2px);
  }
  80% {
    transform: translate(-4px, -6px);
  }
  90% {
    transform: translate(2px, 4px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.heavyQuake-1s {
  animation-name: heavyQuake;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
